@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #e3f2fd;
}
h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background: #5372F0;
}
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}
.search-box {
    width: 550px;
    margin-top: -10px;
}
.search-box input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1.07rem;
    margin: 10px 0 18px 0;
}
.search-box button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background: #5372F0;
    color: #fff;
   
}
.search-box .seperator {
    height: 1px;
    width: 100%;
    background: #bbb;
    margin: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box .seperator::before {
    content: "or";
    color: #6c757d;
    font-size: 1.18rem;
    padding: 0 15px;
    background: #e3f2fd;
    margin-top: -4px;
}
.search-box .location-btn {
    background: #6c757d;
}
.weather-data {
    width: 100%;
}
.current-weather{
    color: #fff;
    display: flex;
    background: #5372F0;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    justify-content: space-between;
}
.current-weather h2 {
    font-size: 1.7rem;
    margin-top: 10px;
    text-align: center;
}
.forecast h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}
.current-weather h4 {
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}
.high-low {
    text-align: center;
    margin: 24px 0 0 0;
}
.current-weather h3 {
    font-weight: 500;
}
.days-forecast h2{
    font-size: 1.5rem;
    margin: 20px 30px;
}
.weather-cards {
    display: flex;
    margin: 0 20px;
}
.weather-cards .card {
    background: #5372F0;
    border-radius: 5px;
    color: #fff;
    margin: 0 4px;
    width: calc(100% / 7);
    padding: 10px 0 10px 0;
    text-align: center;
}
.weather-cards .card h4 {
   font-weight: 500;
}
.weather-cards .card img {
    max-width: 70px;
    margin: -5px 0 -5px 0;
}
.weather-cards .card .high-low{
    margin-top: -10px;
    text-align: center;
}
.weather-cards .card .high-low .low {
    color: #e7e6e6ba;
    display: inline-block;
}
.weather-cards .card .high-low .high {
    display: inline-block;
}
.days-forecast {
    margin-top: -30px;
}

ul {
    list-style: none;
}